<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - File Center</title>
    <link href="~/lib/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Styles", required: false)
    <style type="text/css">
        a {
            color: #979797;
        }

            a:hover {
                color: #496d8b;
            }
        /*
        .form-control {
            border-color: #e45c2b;
            color: #e45c2b
        }

        .form-select {
            border-color: #e45c2b;
            color: #e45c2b
        }

        .btn-outline-secondary {
            color: #e45c2b;
            border-color: #e45c2b;
        }*/

        .btn-outline-secondary:hover {
            color: #fff;
            border-color: #fb7c4d;
            background-color: #fb7c4d;
        }

        /*.btn-outline-secondary:active {
                color: #fff;
                background-color: #efa333;
                border-color: #efa333;
            }*/
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="align-content-start">

                </div>
                <div class="align-content-end">

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - File Center - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/uppy.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
